---
import { Locale } from "@mannisto/astro-i18n/runtime"

export const prerender = false

const locale = Locale.from(Astro.url)
---

<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <title>404</title>
  </head>
  <body>
    <h1 data-testid="not-found">404</h1>
  </body>
</html>
